body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header img {
  height: 100px;
}

body {
  height: 100vh;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main anchors"
    "footer footer footer";
  grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
}

ul {
  list-style: none;
  padding-left: 5px;
}
a {
  color: blue;
  text-decoration: none;
}

header {
  grid-area: header;
  height: 50%;
}

main {
  padding: 20px;
  border-top: 1px solid black;
  grid-area: main;
}

table {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
}
table thead {
  text-align: center;
}

table td {
  border: 2px solid black;
  padding: 5px;
}

footer {
  text-align: center;
  grid-area: footer;
  min-height: 100px;
  height: 100%;
  border-top: solid 1px #cdcdcd;
}
.anchors {
  border-top: 1px solid black;
  grid-area: anchors;
  border-left: solid 1px #cdcdcd;
  padding-left: 15px;
}
nav {
  border-top: 1px solid black;
  grid-area: sidebar;
  border-right: solid 1px #cdcdcd;
}
figure {
  text-align: center;
  border-radius: 50px;
}
